

 <!--Footer-->
 <footer class="page-footer  font-small  primary-color-dark darken-2 mt-4 wow fadeIn"   >
    <div class="container" >
      </br>
    <div class="row" >
 
        <div class="col-sm-4" > 
          <h5>Collegamenti</h5>   
          <a href="http://www.concertoconmammaepapa.it/web/">di Concerto con Mamma e Papà</a>
          <br>
          <a href="http://www.musica-nova.it/">Musica Nova</a>
      </div>
        <div class="col-sm-4" > 
          <!-- Social icons -->
          {% include social.html %}
        </div>
        <div class="col-sm-4" >      {% include copyright.html %}</div>

      </div></br>
      <br>
</div>

</div>

  </footer>

  <!--/.Footer-->
